*{
    margin: 0px;
    padding: 0px;
}


.all{
background-color: #2E3E4E;
width: 1350px;
height: 630px;
}
.d{
    text-align: center;
  font-family: fantasy;
  color: white;
  }
.wwwwww{
margin-left: 400px;
font-family: monospace;
}